{{!< layout}}
<div class="vertical_layout">
  <div class="vertical_cell">
    <div id="doodle" class="container">
      <div class="doodle_ratio_push"></div>
      <div class="doodle_ratio">
        <div class="doodle_heading">
          <div class="doodle_color">
            <ul>
              <li><a href="" class="color_element" data-color_name="black">Black</a></li>
              <li><a href="" class="color_element" data-color_name="blue">Blue</a></li>
              <li><a href="" class="color_element" data-color_name="red">Red</a></li>
              <li><a href="" class="color_element" data-color_name="green">Green</a></li>
            </ul>
          </div>
          <input type="text" id="doodle_title" class="placeholder" data-value="Type your title here..." value="Type your title here..." />
          <span id="save_text"></span>
        </div>
        <div id="doodle_image">
          <canvas id="doodle_canvas"></canvas>
        </div>
      </div>
    </div>
    {{#if doodle}}
    <div class="doodle_meta">
      <img src="{{doodle.avatar}}" alt="" />
      <span class="author">
        <a href="/user/{{doodle.authorString}}">{{doodle.authorString}}</a>
      </span>
    </div>
    {{/if}}
    {{#if doodle.parent}}
    <div class="doodle_meta">
      <strong><a href="/{{doodle.parent}}">View original doodle &rarr;</a></strong>
    </div>
    {{/if}}
  </div>
</div>
{{#if doodle}}
<script>
  var currentDoodle = {
    _id: '{{doodle._id}}',
    title: '{{doodle.title}}',
    slug: '{{doodle.slug}}',
    image: '{{doodle.image}}'
  }
</script>
{{/if}}
