{{!< layout}}

<div class="middle_container">
  <div class="middle">
    <div class="container container_doodle">
      <div class="dummy"></div>
      <div class="main">
        <nav>
          <style>




.user2 {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  height: 50px;
  width: 50px;
  display: inline-block;
}

.user2:hover {
  background: #10699B;
}

.user2:hover ul {
  visibility: visible;
}

.user2 ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 7rem;
  background-color: #10699B;
}

.user2 ul li a {
  display: block;
  padding: 0.6rem 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.user2 ul li:last-child a {
  border: none;
}




</style>
<div class="user2">
      <ul>
        <li><a href="#">Black</a></li>
        <li><a href="#">Blue</a></li>
        <li><a href="#">Red</a></li>
        <li><a href="#">Green</a></li>
      </ul>
    </div>
          <select id="color">
            <option value="black">Black</option>
            <option value="blue" selected="selected">Blue</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
          </select>
          <span id="save_text"></span>
        </nav>
        <div id="heading">
          <input type="text" id="title" class="placeholder" data-value="Type your title here..." value="Type your title here..." />
        </div>
        <div id="sketch">
          <canvas id="tools_sketch" class="notepad"></canvas>
        </div>
      </div>
    </div>
    {{#if doodle.parent}}
    <div class="meta">
      <strong><a href="/{{doodle.parent}}">View original doodle &rarr;</a></strong>
    </div>
    {{/if}}
  </div>
</div>
{{#if doodle}}
<script>
  var doodle = {
    _id: '{{doodle._id}}',
    title: '{{doodle.title}}',
    slug: '{{doodle.slug}}',
    image: '{{doodle.image}}'
  }
</script>
{{/if}}
