{{!< layout}}
<div class="vertical_layout">
  <div class="vertical_cell">
    <div id="doodle" class="container">
      <div class="doodle_ratio_push"></div>
      <div class="doodle_ratio">
        <div id="doodle_heading">
          <div id="doodle_color">
            <i class="fa fa-pencil pencil"></i>
            <ul>
              <li>
                <a href="" class="color_element" data-color="black">
                  <div class="color_circle" data-color="black"></div>
                </a>
              </li>
              <li>
                <a href="" class="color_element" data-color="blue">
                  <div class="color_circle" data-color="blue"></div>
                </a>
              </li>
              <li>
                <a href="" class="color_element" data-color="red">
                  <div class="color_circle" data-color="red"></div>
                </a>
              </li>
              <li>
                <a href="" class="color_element" data-color="green">
                  <div class="color_circle" data-color="green"></div>
                </a>
              </li>
            </ul>
          </div>
          <input type="text" id="doodle_title" class="placeholder" data-value="Type your title here..." value="Type your title here..." />
          <span id="save_text"></span>
        </div>
        <div id="doodle_image">
          <canvas id="doodle_canvas"></canvas>
        </div>
      </div>
    </div>
    {{#if doodle}}
    <div class="doodle_meta">
      {{#if doodle._user}}
      <img class="avatar doodle_avatar" src="{{doodle.avatar}}" alt="" />
      <span class="doodle_author">
        <span class="doodle_verb">Doodle {{doodle.authorString}} by...</span>
        <a href="/user/{{doodle._user.username}}">@{{doodle._user.username}}</a>
      </span>
      {{/if}}
      <!--{{#if doodle.parent}}
      <strong><a href="/{{doodle.parent}}">View original doodle &rarr;</a></strong>
      {{/if}}-->
    </div>
    {{/if}}
  </div>
</div>
{{#if doodle}}
<script>
  var currentDoodle = {
    _id: '{{doodle._id}}',
    title: '{{doodle.title}}',
    slug: '{{doodle.slug}}',
    image: '{{doodle.image}}'
  }
</script>
{{else}}
<script>var currentDoodle = null;</script>
{{/if}}
