<!DOCTYPE html>
<html>
  <head>
    <title>Doodles.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/public/css/vendor/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/vendor/font-awesome.min.css">
    <link href="/public/css/style.less" rel="stylesheet/less">
  </head>
  <body>
    <div id="message"></div>
    <header>
      <div class="header_left">
        <a href="/"><img src="/public/img/logo.png" class="header_logo" alt="Doodles.io" /></a>
      </div>
      <div class="header_right">
      <nav>
        {{#if user}}
        Howdy, {{user.username}}!&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;<strong><a href="/logout">Logout</a></strong>
        {{else}}
        <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;<strong><a href="/register">Register</a></strong>
        {{/if}}
      </nav>
      {{#if user}}
      <img class="avatar" src="{{user.gravatar}}" alt="" />
      {{/if}}
      </div>
      <div class="clearfix"></div>
    </header>
    {{{body}}}
    {{#scripts}}<script src="{{.}}"></script>{{/scripts}}
  </body>
</html>
