<!DOCTYPE html>
<html>
  <head>
    <title>Doodles.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/public/css/normalize.css" rel="stylesheet">
    <link href="/public/css/style.less" rel="stylesheet/less">
  </head>
  <body>
    <div id="message"></div>
    <div class="bar">
      <div class="left">
        <a href="/"><img src="/public/img/logo.png" class="logo" alt="Doodles.io" /></a>
      </div>
      <div class="right">
      {{#if user}}
        Howdy, {{user.username}}!&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;<strong><a href="/logout">Logout</a></strong>
        <img class="avatar" src="{{user.gravatar}}" alt="" />
      {{else}}
        <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;<strong><a href="/register">Register</a></strong>
      {{/if}}
      </div>
      <div class="clearfix"></div>
    </div>
    {{{body}}}
    {{#scripts}}<script src="{{.}}"></script>{{/scripts}}
  </body>
</html>
